<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="gibran.com.br.zaptest">

    <permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="gibran.com.br.zaptest.AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name="gibran.com.br.zaptest.imovel.ImovelActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="gibran.com.br.zaptest.imoveldetails.ImovelDetailsActivity"
            android:label="Imovel details">
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d406ba7152f8f3c0fe741abee459fff6a7835b1c"/>
    </application>
    <permission android:name="android.permission.INTERNET"/>

</manifest>